{% extends 'webapp/base.html' %}


{% block content %}

  <div class="card">
    <strong>
      <br>
      &nbsp; &nbsp;
      {{transfer.player|upper}}
    </strong>

    <hr>

    <div class="card-body">
      <p><strong> ID: </strong> {{transfer.id}} </p>
      <p><strong> Player: </strong> {{transfer.player}} </p>
      <p><strong> Origin Club: </strong> {{transfer.origin_club}} </p>
      <p><strong> Destiny Club: </strong> {{transfer.destiny_club}} </p>
      <p><strong> Value: </strong> {{transfer.value}} </p>

      <p><strong> Creation Date: </strong> {{transfer.creation_date}} </p>
    </div>
  </div>

  <br>

  <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return </a>

  {% if user.is_authenticated and user.username == 'mateus' %}
  &nbsp;

  <a href="{% url 'update-transfer' transfer.id %}" class="btn btn-info"> Update transfer </a>

  &nbsp;
  
  <a href="{% url 'delete-transfer' transfer.id %}" class="btn btn-danger"> Delete transfer </a>
  {% endif %}

{% endblock %}